body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:20px;
  width:670px;
  height:320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:152px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:30px;
  width:129px;
  height:37px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:134px;
  top:100px;
  width:505px;
  height:125px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:200px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:300px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:400px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:334px;
  top:270px;
  width:100px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
